/*main css layout styling*/
.root { /*central screen background colour*/
    -fx-background-color: #1b1b1d; /* Main Dark Background */
    -fx-font-family: 'Segoe UI', sans-serif;
}
.label { /*label colour for titles*/
    -fx-text-fill: white;
}
.text { /*colour for small texts*/
    -fx-fill: white;
}
.separator .line { /*colour */
    -fx-background-color: #202022;
    -fx-border-color: transparent;
}

/*Navigation bar styling*/
.top-bar { /*background of navigation bar*/
    -fx-background-color: #161616;
    -fx-border-color: #202022;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 15 0 15;
}
/*used for "add file" box in admins page*/
.card-pane {
    -fx-background-color: #252529;
    -fx-background-radius: 10px;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

/*text fields and input fields*/
.text-field, .search-field {
    -fx-background-color: #161616;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b0b0b0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #555555;
}


.text-area {
    -fx-background-color: #333339;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b0b0b0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}
.text-area .content {
    -fx-background-color: #333339;
    -fx-background-radius: 10px;
}
.combo-box {
    -fx-background-color: #202022;
    -fx-background-radius: 5px;
    -fx-border-color: #555555;
    -fx-border-radius: 5px;
}
.combo-box .cell {
    -fx-text-fill: white;
}
.combo-box .list-cell {
    -fx-background-color: #202022;
    -fx-text-fill: white;
}
.combo-box .list-cell:hover {
    -fx-background-color: #555555;
}

/*buttons*/
.btn {/*Main buttons and used for navigation bar*/
    -fx-background-color: #202022;
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn:hover {
    -fx-background-color: white;
}


.home-btn{
    -fx-background-color: #161616;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-pref-width: 150px;
}

.home-btn:hover {
    -fx-background-color: white;
    -fx-pref-height: 40px;
    -fx-pref-width: 150px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}

/* styled buttons */
.btn-success {
    -fx-background-color: #2ea043; /* green success button */
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn-success:hover {
    -fx-background-color: #3fb950;
}

.btn-primary { /* blue default button */
    -fx-background-color: #1f6feb;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn-primary:hover {
    -fx-background-color: #388bfd;
}

.btn-danger { /* red danger button*/
    -fx-background-color: #da3633;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn-danger:hover {
    -fx-background-color: #f85149;
}


/* table and listview styling */
.table-view, .list-view {
    -fx-background-color: #333339;
    -fx-base: #333339;
    -fx-control-inner-background: #333339;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.table-view .column-header-background {
    -fx-background-color: #161616;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #555;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-row-cell, .list-cell {
    -fx-background-color: #333339;
    -fx-text-fill: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #2b2b30;
}
.table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}
.list-cell:filled:selected, .table-row-cell:filled:selected {
    -fx-background-color: #44444a;
}
.table-view .placeholder .label {
    -fx-text-fill: derive(#333339, 50%);
}

/* scrollbar styling */
.scroll-bar {
    -fx-background-color: transparent;
}
.scroll-bar .thumb {
    -fx-background-color: #555555;
    -fx-background-radius: 5em;
}
.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* chart styling */
.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 10px;
}
.axis {
    -fx-tick-label-fill: white;
    -fx-label-tick-fill: white;
}
.axis-label {
    -fx-text-fill: white;
}
.chart-legend {
    -fx-background-color: transparent;
}
.chart-legend-item {
    -fx-text-fill: white;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: #444444;
}

